fastapi
uvicorn[standard]
openai
python-dotenv
pydantic
python-multipart
streamlit
langchain
langchain-community
langchain-openai
langchain-chroma
chromadb
ragas
datasets
pandas
numpy
matplotlib
seaborn
koreanize-matplotlib
pypdf
langsmith>=0.3.45
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
